@charset "utf-8";
#main {
    max-width: 980px;
    width: 100%;
    height: 740px;
    margin: auto;
}
/*封面*/
#index {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

#index img {
    width: 100%;
    height: 100%;
}

#index a.clickBtn {
    width: 40.71117561683599%;
    height: 12.10067763794773%;
    border-radius: 20px;
    position: absolute;
    border: 2px solid #f0cf2a;
    left: 28.51959361393324%;
    top: 73.28170377541142%;
}



