@charset "utf-8";
html { height: 100%; width: 100%;
    min-width: 980px;
    min-height: 535px;}
body { margin:0px; padding:0px;  font-family:"微软雅黑"; -webkit-user-select:none;word-wrap:break-word;word-break:break-all; width:100%; height:100%; overflow: hidden; background:url(../images/bg.jpg)  no-repeat; background-color:#000; background-size: 100% 100%;}
ul,li { margin:0px; padding:0px; list-style:none;}
img { border:0px;}

.module { position:absolute; top:0; left:0; right:0;
    bottom: 0;
    margin: auto;height:535px;
    max-width: 980px;
    width: 100%; display:none;}
a {text-decoration:none; cursor:pointer; outline:none; transition:all 0.5s;-moz-transition:all 0.5s; -webkit-transition:all 0.5s; -o-transition:all 0.5s; }
a.btn { display:inline-block; padding:6px 20px;  border-radius:5px;}
h1,h2,h3 { font-weight:normal;}


/*****颜色设置****/
body {background-color:#000;color:#fff;}
a { color:#fff;}
a.btn { color:#fff; background:#0ea69a;} /*按钮背景色*/
a.btn:hover {background:#079287;}
a.stopBtn { background: #917149;}
a.stopBtn:hover { background: #ff6c00;}
.closeBtn {background:rgba(0,0,0,0.6);}
.closeBtn:hover {background:rgba(0,0,0,1);}


/*老虎机*/
#tigerBg {height:270px; width:92%; position:relative; background:}

.tigerMain {width:95%; height:279px; position:absolute; top:-5px;text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}
#tigerSelect a.beginTiger_on { background: #efdd02d1 !important;}
#tigerSelect a.btn.beginTiger { background: #3b8dbc;}
#tigerSelect { text-align: center;position: relative; color: #fff; width: 95%; margin: auto; border-radius: 5px; font-size: 20px; line-height: 65px;margin-top: 100px;}
#tigerSelect .select_option { overflow:auto;}
#tigerSelect .select_option a,#tigerSelect .select a { margin-left:0; word-break:normal; }
#tigerSelect a.btn {margin-left: 20px; font-size: 35px; width:90px ; height: 65px;}
.tigerList {  width:120px; margin-left:30px; height: 258px; display: inline-block;  position: relative; vertical-align: top; }
.tigerList div { width: 200%; position: absolute; top: 8px; height: 270px; overflow: hidden;}
.tigerList div ul { width:100%; font-size: 8; position: absolute; top: 0;}
.tigerList div ul li img { width:496px; height:296px; border:2px solid #fff; border-radius: 10px; margin-top: 0px;position: absolute;
    top: 0;
    left: 0;}
.tigerList div ul li { 
    width:100%; 
    height:300px;
    position: relative;
}

.tigerList span {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}
.oneTiger { width: 730px; left: 76px;}
.oneTiger .tigerList div { width: 500px; height: 300px; top: 0px; margin-left: -185px;}
.oneTiger .tigerList { width: 120px;margin-left: 20px;}
.oneTiger .tigerList ul li { width: 120px;}
#tigerLight { width: 100%; height: 535px; position: absolute; left: 0; top: 0;
}


#lables {

    height: 40px;

    margin-top: 50px;

    margin-left: 180px

    }          

#lables ul {

    list-style: none;              

    margin-left: 50px;

    }          

#lables li {

    display: block;

    float: left;

    }          

#lables button {

    line-height: 40px;

    display: block;

    color: rgb(0, 0, 0);

    text-decoration: none;

    padding: 0 20px;
    
    border-radius: 50px;

    margin-right: 20px
    }     

#lablesLeft {

    height: 70%;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 20%;
    overflow-x: hidden;

}  

#lablesLeft button {

        line-height: 40px;
    
        display: block;
    
        color: rgb(0, 0, 0);
    
        text-decoration: none;
    
        padding: 0 20px;
        
        border-radius: 50px;
    
        margin-top: 20px
}   

#lablesRigth {

    height: 70%;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 80%;
    overflow-x: hidden;
}  

#lablesRigth button {

        line-height: 40px;
    
        display: block;
    
        color: rgb(0, 0, 0);
    
        text-decoration: none;
    
        padding: 0 20px;
        
        border-radius: 50px;
    
        margin-top: 20px
}  



